.main-header {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-image: linear-gradient(to right, #180b41 50%, #5d246b);

    img {
        cursor: pointer;
        max-width: 200px;
        margin-right: 20px;
    }

    .container-input {
        width: 30%;
        position: relative;

        button{
            border: none;
            background-color: rgba(255, 0, 0, 0);
        }

        input {
            width: 100%;
            border: none;
            padding: 8px;
            outline: none;
            font-size: 1.2rem;
            border-radius: 4px;
            background-color: white;
        }

        .container-pesquisa {
            display: flex;
            padding: 30px;
            margin-top: 10px;
            position: absolute;
            border-radius: 10px;
            z-index: 9999999999;
            box-sizing: border-box;
            flex-direction: column;
            background-color: #ffffff;

            .resultado-pesquisa {
                color: black;
                display: flex;
                flex-direction: row;
                margin-bottom: 20px;
                align-items: center;

                img {
                    max-width: 110px;
                }
            }
        }

        .texto-busque-aqui {
            position: absolute;
            top: 11px;
            left: 7px;
            pointer-events: none;
        }
    }


    .content-conteiner {
        margin-left: 10px;
        width: 20%;
        display: flex;
        justify-content: center;

        .carrinho {
            position: relative;

            div {
                position: absolute;
                top: -20px;
                right: -20px;
                color: #ffff;
                background: #ff00a64f;
                padding: 3px 9px;
                border-radius: 100px;
            }
        }

        .bars {
            display: none;
        }

        .icon {
            padding: 9px;
            cursor: pointer;
            font-size: 2rem;
            transition: .5s ease-in-out;
            margin-left: 20px;
            color: #ffffff41;
            border-radius: 100%;
            outline: 2px solid #ffffff41;
        }

        .icon:hover {
            transition: .5s ease-in-out;
            color: #ffffff;
        }
    }
}

.container-lista-links {
    width: 100%;
    display: flex;
    background-color: #ff6500;
    justify-content: center;

    .container-lista {
        width: 100%;
        display: flex;
        flex-direction: row;

        a {
            font-weight: 500;
            font-size: 0.9rem;
            height: 100%;
            padding: 7px;
            text-decoration: none;
            text-align: center;
            width: 100%;
            color: #ffff;
            transition: .3s ease-in-out;

        }

        a:hover {
            background-color: #833400;
            transition: .3s ease-in-out;
        }
    }
}

.container-lista-links-mobile {
    right: 0;
    width: 100vw;
    height: 100%;
    display: none;
    transition: .5s;
    z-index: 999999;
    position: absolute;
    justify-content: flex-end;
    background-color: #ff6500;

    .container-lista-mobile {
        width: 100%;
        display: flex;
        flex-direction: column;

        a {
            font-weight: 500;
            font-size: 0.9rem;
            height: 100%;
            padding: 7px;
            text-decoration: none;
            text-align: center;
            width: 100%;
            color: #ffff;
            transition: .3s ease-in-out;

        }
    }
}

.imagem-oferta {
    display: flex;
    justify-content: center;
    width: 100%;

    img {
        width: 100%;
        cursor: pointer;
    }
}

@media screen and (max-width: 1000px) {

    .main-header {
        background-image: none;
        background-color: #180b41 !important;

        img {
            max-width: 100px;
            margin-right: 0px;
        }

        .container-input {
            width: 80% !important;

            .container-pesquisa {
                width: 102%;
                font-size: 0.9rem;

                .resultado-pesquisa {
                    width: 100%;
                    align-items: flex-start;
                    text-align: start;
                    flex-direction: column;

                    img {
                        display: none;
                    }
                }
            }
        }

        .content-conteiner {
            margin: 0;
            justify-content: space-between;
            align-items: center;
            margin-left: 10px;

            .user {
                display: none;
            }

            .cart {
                font-size: 1rem;
            }

            .bars {
                display: block;
            }

            .headset {
                display: none;
            }
        }
    }

    .container-lista-links {
        display: none;
    }

    .container-lista-links-mobile {
        display: none;
        display: flex;
        justify-content: center;
    }

    .imagem-oferta {

        img {
            width: 100%;
        }
    }
}


@media screen and (max-width: 571px) {

    .main-header {
        .container-input {
            width: 50% !important;

            .container-pesquisa {
                width: 100vw;
                right: -22vw;
                border-radius: 0;
            }
        }

        .content-conteiner {
            margin-left: 10px;
            width: 20%;
            display: flex;
            justify-content: center;

            .carrinho {
                display: none;

                div {
                    top: -20px;
                    right: -8px;
                }
            }
        }
    }
}