.main-conteiner-cards {
    max-width: 1800px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background-color: #f2f2f2;

    .play-content {
        width: 100%;
        height: 90px;
        display: flex;
        color: #ffff;
        font-size: 2rem;
        font-weight: 900;
        align-items: center;
        background-color: #ff6500;

        div {
            margin-left: 30px;
        }

    }

    .conteiner-carrousel {
        display: flex;
        margin: 0 auto;
        position: relative;
        justify-content: center;

        .carrousel {
            margin-left: 620px;
            width: 3000px;
            display: flex;
            scroll-behavior: smooth;
            transition: .5s ease-in-out;

            .conteiner-card {
                width: 240px;
                padding: 30px;
                cursor: pointer;
                box-sizing: border-box;
                background-color: #ffff;
                margin: 40px 40px 10px 0px;
                border: solid 1px #00000018;
                box-shadow: #00000021 2px 1px 6px;

                img {
                    height: 180px;
                    max-width: 100%;
                }

                .nome-produto {
                    font-weight: 900;
                    margin-top: 1rem;
                    font-size: 0.875rem;
                    line-height: 1.125rem;
                    color: rgb(66, 70, 77);
                    // max-width: 100%;
                    // overflow: hidden;
                    // text-overflow: ellipsis;
                    // white-space: nowrap;
                }

                .preco-produto {
                    color: #3423A6;
                    font-weight: 900;
                    font-size: 1.25rem;
                    margin-top: 1rem;
                    margin-bottom: 0.25rem;
                }

                .pagamento-produto {
                    margin-top: 1rem;
                    font-weight: 800;
                    font-size: 0.8rem;
                    color: rgb(52, 53, 54);
                }
            }
        }
    }
}



@media screen and (max-width:1760px) {

    .conteiner-card {
        margin-left: 0 !important;
        width: 250px !important;

    }
}