.main-conteiner-cards {
    margin: 0 auto;
    overflow: hidden;
    max-width: 93.6%;
    position: relative;
    background-color: #f2f2f2;

    .play-content {
        width: 100%;
        height: 90px;
        display: flex;
        color: #ffff;
        font-size: 1.7rem;
        font-weight: 900;
        align-items: center;
        background-color: #ff6500;

        div {
            margin-left: 30px;
        }

    }

    .conteiner-carrousel {
        width: 150%;
        display: flex;
        margin: 0 auto;

        .carrousel {
            width: 100%;
            display: flex;
            margin-left: 60px;
            scroll-behavior: smooth;
            transition: .5s ease-in-out;

            .conteiner-card {
                width: 9.8%;
                display: flex;
                padding: 30px;
                cursor: pointer;
                align-items: center;
                flex-direction: column;
                box-sizing: border-box;
                background-color: #ffff;
                margin: 40px 25px 10px 0px;
                transition: .5s ease-in-out;
                justify-content: space-between;
                border: solid 1px #00000018;
                box-shadow: #00000021 2px 1px 6px;

                img {
                    max-width: 100%;
                    height: 150px;
                }

                .nome-produto {
                    height: 125px;
                    overflow: hidden;
                    font-weight: 900;
                    margin-top: 1rem;
                    font-size: 0.875rem;
                    line-height: 1.125rem;
                    color: rgb(66, 70, 77);
                    // max-width: 100%;
                    // overflow: hidden;
                    // text-overflow: ellipsis;
                    // white-space: nowrap;
                }

                .preco-produto {
                    color: #3423A6;
                    font-weight: 900;
                    font-size: 1.7rem;
                    margin-top: 1rem;
                    margin-bottom: 0.25rem;
                }

                .pagamento-produto {
                    margin-top: 1rem;
                    font-weight: 800;
                    font-size: 0.8rem;
                    color: rgb(52, 53, 54);
                }
            }
        }
    }
}

@media screen and (max-width: 1703px) {
    .conteiner-carrousel {
        width: 145% !important;

    }
}

@media screen and (max-width: 1399px) {
    .conteiner-carrousel {
        width: 138% !important;

    }
}

@media screen and (max-width: 1213px) {
    .conteiner-carrousel {
        width: 130% !important;


        img {
            height: 90px !important;
            max-width: 100% !important;
        }

        .preco-produto {
            width: 100px !important;
            font-size: 1rem !important;

        }
    }
}

@media screen and (max-width: 1155px) {
    .conteiner-carrousel {
        width: 122% !important;
    }
}

@media screen and (max-width: 999px) {
    .conteiner-carrousel {
        width: 120% !important;

        .nome-produto {
            font-size: 0.8rem !important;

        }

        .preco-produto {
            font-size: 1rem !important;
            margin-bottom: 0px !important;
        }

        .pagamento-produto {
            width: 80px;
            margin-left: 10px;
            margin-top: 0px !important;
            font-weight: 800 !important;
            font-size: 0.6em !important;
        }
    }

}