.main-conteiner-cards {
    width: 93.6%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background-color: #f2f2f2;

    .play-content {
        width: 100%;
        height: 90px;
        display: flex;
        color: #ffff;
        font-weight: 900;
        font-size: 1.7rem;
        align-items: center;
        background-color: #ff6500;

        div {
            margin-left: 30px;
        }
    }

    .conteiner-carrousel {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;

        .container-carroussel-cards {
            width: 1700px;
            overflow: hidden;

            .container-cards {
                width: 115vw;
                display: flex;
                transition: .2s ease-in-out;
            }

            .cards {
                width: 20%;
                height: 442px;
                display: flex;
                padding: 30px;
                cursor: pointer;
                align-items: center;
                flex-direction: column;
                box-sizing: border-box;
                justify-content: center;
                background-color: #ffff;
                margin: 40px 25px 10px 0px;
                transition: .5s ease-in-out;
                border: solid 1px #00000018;
                box-shadow: #00000021 2px 1px 6px;

                img {
                    width: 100%;
                    height: 160px;
                }

                .nome-produto {
                    height: 125px;
                    overflow: hidden;
                    font-weight: 900;
                    margin-top: 1rem;
                    font-size: 0.875rem;
                    line-height: 1.125rem;
                    color: rgb(66, 70, 77);
                }

                .preco-produto {
                    color: #3423A6;
                    font-weight: 900;
                    margin-top: 1rem;
                    font-size: 1.7rem;
                    margin-bottom: 0.25rem;
                }

                .pagamento-produto {
                    margin-top: 1rem;
                    font-weight: 800;
                    font-size: 0.8rem;
                    color: rgb(52, 53, 54);
                }
            }
        }
    }

    .container-imagems-promocao {
        width: 100%;
        display: flex;
        margin-top: 50px;
        margin-bottom: 50px;
        justify-content: center;

        img {
            width: 100%;
            margin: 10px;
            height: 100%;
            border-radius: 5px;
        }
    }
}

.container-mobile-carroussel {
    width: 100%;
    display: none;

    .container-carroussel-cards-mobile {
        display: flex;
        width: 7925px;
        height: 300px;
        flex-direction: row;
        scroll-behavior: smooth;
        transition: .2s ease-in-out;

        .cards-mobile {
            width: 100vw;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            background-color: white;

            img {
                max-width: 180px;
            }

            .nome-produto {
                width: 200px;
                margin-top: 20px;
                font-size: 0.9rem;
                text-align: center;
                color: rgba(0, 0, 0, 0.535);
            }
        }
    }
}


@media screen and (max-width: 1615px) {
    .container-imagems-promocao {
        flex-wrap: wrap;

        img {
            width: 70%;
            height: 200px !important;
        }
    }
}

@media screen and (max-width: 1333px) {
    .conteiner-carrousel {
        .container-carroussel-cards {
            margin-left: 10px;

            .container-cards {
                display: flex;
                width: 53vw !important;

                img {
                    width: 100%;
                    height: 100px !important;
                }

                .preco-produto {
                    width: 100px;
                    font-size: 0.9rem !important;
                }
            }
        }
    }
}

@media screen and (max-width: 1251px) {
    .conteiner-carrousel {
        .container-carroussel-cards {
            .container-cards {
                display: flex;
                width: 52vw !important;
            }
        }
    }
}

@media screen and (max-width: 1171px) {
    .conteiner-carrousel {
        .container-carroussel-cards {

            .container-cards {
                display: flex;
                width: 51vw !important;

            }
        }
    }
}

@media screen and (max-width: 1145px) {
    .conteiner-carrousel {
        .container-carroussel-cards {

            .container-cards {
                display: flex;
                width: 49vw !important;

            }
        }
    }
}

@media screen and (max-width: 989px) {
    .main-conteiner-cards {
        width: 100%;

        .conteiner-carrousel {
            display: none;
        }
    }

    .container-mobile-carroussel {
        display: block;
        display: flex;
    }

    .container-imagems-promocao {
        img {
            width: 70%;
            height: 100px !important;
        }
    }
}