.main-container-carrinho {
    width: 93.5%;
    margin: 0 auto;
    display: flex;
    background-color: #f2f2f2f2;

    .container-nome-preco-imagem {
        width: 100%;
        display: flex;
        border-radius: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px 0px 20px 0px;

        .conteiner-produto-carrinho {
            width: 60%;
            padding: 40px;
            display: flex;
            margin-right: 10px;
            border-radius: 10px;
            margin-bottom: 20px;
            align-items: center;
            flex-direction: row;
            box-sizing: border-box;
            background-color: white;

            .quantidade {
                display: flex;
                width: 8%;
                padding: 5px;
                align-items: center;
                height: 30px;
                justify-content: space-between;
                border: solid #0b074454 2px;
                border-radius: 5px;

                .operadores {
                    cursor: pointer;
                    font-size: 1.4rem;
                }
            }

            .conteiner-imagem {
                width: 25%;
                margin-right: 40px;

                img {
                    max-width: 200px;
                    border-radius: 10px;
                }
            }

            .container-descricao {
                width: 50%;

                .container-estrelas {
                    display: flex;
                }

                .nome-produto-carrinho {
                    margin: 40px 0px 40px 0px;
                    font-size: 1rem;
                    font-weight: 600;
                    color: rgba(0, 0, 0, 0.747);
                }

                .descricao-produto-carrinho {
                    font-size: 0.9rem;
                    width: 90%;
                    color: rgba(0, 0, 0, 0.747);
                }
            }
        }

        .container-produto-pagamento {
            width: 20%;
            display: flex;
            padding: 50px;
            border-radius: 10px;
            box-sizing: border-box;
            flex-direction: column;
            background-color: white;
            justify-content: space-around;

            .preco-produto-carrinho {
                font-weight: 600;
                font-size: 1.8rem;
                color: rgba(0, 0, 0, 0.87);
            }

            .botao-comprar {
                padding: 7px;
                display: flex;
                color: #ffff;
                cursor: pointer;
                font-weight: 900;
                font-size: 1.4rem;
                border-radius: 7px;
                align-items: center;
                justify-content: center;
                background-color: #180b41;
            }

            .container-cep-calculo {
                border-bottom: #00000015 solid 2px;
                border-top: #00000015 solid 2px;
                margin-top: 20px;

                .container-cep-botao {
                    display: flex;
                    margin-bottom: 40px;

                    input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    input {
                        width: 70%;
                        padding: 9px;
                        outline: none;
                        font-size: 1.1rem;
                        border-radius: 7px;
                        margin-right: 20px;
                        border: solid 1px black;

                    }

                    button {
                        width: 20%;
                        display: flex;
                        display: flex;
                        cursor: pointer;
                        font-size: 1rem;
                        font-weight: 500;
                        color: #180b41;
                        border-radius: 7px;
                        align-items: center;
                        justify-content: center;
                        border: solid 1px #180b41;
                        background-color: transparent;
                    }
                }
            }

        }
    }
}